@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 11 18 32;
  --foreground: 248 250 252;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
